In [4]:
x <- 10
y <- runif(1)*100

if(x > y){
    print("x > runif()")
}
print("--- End ---")

[1] "x > runif()"
[1] "--- End ---"

In [29]:
x <- 10
y <- runif(1)*100

if(x > y){
    print("x > runif()")
}else{
    print("x <= runif()")
}

print("--- End ---")

[1] "x > runif()"
[1] "--- End ---"

In [82]:
x <- 10
y <- runif(1)*100

if(x > y){
    print("x > runif()")
}else if(x < y){
    print("x < runif()")
}else{
    print("x = runif()")
}

print("--- End ---")

[1] "x < runif()"
[1] "--- End ---"

In [191]:
# 홀수 짝수 구분

# a <- round(runif(1)*100,0)
a <- c(8,7,6) # 벡터는 처리 불가

if(a %% 2 == 0){
    sprintf("%i는 짝수 입니다.", a)
}else{
    cat(a,"는 홀수 입니다.",sep = "")
}

Warning message in if (a%%2 == 0) {:
“length > 1 이라는 조건이 있고, 첫번째 요소만이 사용될 것입니다”

[1] "8는 짝수 입니다." "7는 짝수 입니다." "6는 짝수 입니다."

In [237]:
a <- c(8,7,6)

ifelse(a %% 2 == 0, paste(a,": 짝수"), paste(a,": 홀수"))

[1] "8 : 짝수" "7 : 홀수" "6 : 짝수"

In [248]:
# 사용자로 부터 data를 입력 받아 입력한 숫자 홀수 인지 짝수 인지 판단하여 출력하기.

num1 <-as.integer(readline("숫자를 입력하세요 :"))
ifelse(num1 %% 2 == 0,sprintf("입력하신 숫자는 %i이고 짝수 입니다.",num1), sprintf("입력하신 숫자는 %i이고 홀수 입니다.",num1))



## 입력하신 숫자는 12이고 짝수 입니다.

숫자를 입력하세요 :35

[1] "입력하신 숫자는 35이고 홀수 입니다."

In [261]:
num1 <-as.integer(readline("점수를 입력하세요 :"))

if(num1 >= 90){
    cat("A학점 입니다.")
}else if(num1 >= 80){
    cat("B학점 입니다.")
}else if(num1 >= 70){
    cat("C학점 입니다.")
}else if(num1 >= 60){
    cat("D학점 입니다.")
}else{
    cat("F학점 입니다.")
}

점수를 입력하세요 :90
A학점 입니다.

---
### csv file을 불러서 사용하기

In [285]:
excel <- read.csv("../RFile/excel.csv")
head(excel)

  q1 q2 q3 q4 q5
1 2  4  4  2  2
2 1  2  2  2  2
3 2  3  4  3  3
4 3  5  5  3  3
5 3  2  4  4  4
6 4  3  3  4  2

In [264]:
str(excel)

'data.frame':	402 obs. of  5 variables:
 $ q1: int  2 1 2 3 3 4 3 4 4 4 ...
 $ q2: int  4 2 3 5 2 3 4 2 4 2 ...
 $ q3: int  4 2 4 5 4 3 4 4 5 4 ...
 $ q4: int  2 2 3 3 4 4 2 4 3 2 ...
 $ q5: int  2 2 3 3 4 2 2 4 4 3 ...

In [279]:
# q1컬럼에서 Data가 3보다 크거나 같으면 data의 제곱근을 구하고 아니면 원래 Data를 출력하기

head(ifelse(excel$q1 >=3,round(sqrt(excel$q1),2),excel$q1))

[1] 2.00 1.00 2.00 1.73 1.73 2.00

In [286]:
# q1컬럼에서 Data가 3보다 크거나 같으면 data의 제곱근을 구하고 아니면 원래 Data를 q6라는 컬럼을 만들어 추가하기

excel$q6 <- ifelse(excel$q1 >=3,sqrt(excel$q1),excel$q1)

In [287]:
head(excel)

  q1 q2 q3 q4 q5 q6
1 2  4  4  2  2  2.000000
2 1  2  2  2  2  1.000000
3 2  3  4  3  3  2.000000
4 3  5  5  3  3  1.732051
5 3  2  4  4  4  1.732051
6 4  3  3  4  2  2.000000