In [1]:
train_df <- read.csv("../RFile/Titanic_train.csv")
head(train_df)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

In [13]:
library(dplyr)
library(nnet)
library(e1071)
library(randomForest)
library(party)
library(caret)

Loading required package: lattice
Loading required package: ggplot2
Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

Attaching package: ‘ggplot2’

The following object is masked from ‘package:randomForest’:

    margin

In [11]:
testing2 <- train_df
testing2 <- subset(testing2,!is.na(testing2$Age))
table(testing2$Age)
# 나이별 컬럼 추가
testing2$애기 = testing2$Age<20
testing2$어른 = testing2$Age>=20&testing2$Age<40
testing2$노인 = testing2$Age>=40

0.42 0.67 0.75 0.83 0.92    1    2    3    4    5    6    7    8    9   10   11
   1    1    2    2    1    7   10    6   10    4    3    3    4    8    2    4
  12   13   14 14.5   15   16   17   18   19   20 20.5   21   22   23 23.5   24
   1    2    6    1    5   17   13   26   25   15    1   24   27   15    1   30
24.5   25   26   27   28 28.5   29   30 30.5   31   32 32.5   33   34 34.5   35
   1   23   18   18   25    2   20   25    2   17   18    2   15   15    1   18
  36 36.5   37   38   39   40 40.5   41   42   43   44   45 45.5   46   47   48
  22    1    6   11   14   13    2    6   13    5    9   12    2    3    9    9
  49   50   51   52   53   54   55 55.5   56   57   58   59   60   61   62   63
   6   10    7    6    1    8    2    1    4    2    5    2    4    3    4    2
  64   65   66   70 70.5   71   74   80
   2    3    1    2    1    2    1    1

In [12]:
head(testing2)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
7 7           0        1
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
7 McCarthy, Mr. Timothy J                             male   54  0     0
  Ticket           Fare    Cabin Embarked 애기  어른  노인
1 A/5 21171         7.2500       S        FALSE  TRUE FALSE
2 PC 17599         71.2833 C85   C        FALSE  TRUE FALSE
3 STON/O2. 3101282  7.9250       S        FALSE  TRUE FALSE
4 113803           53.1000 C123  S        FALSE  TRUE FALSE
5 373450            8.0500       S        FALSE  TRUE FALSE
7 17463            51.8625 E46   S        FALSE FALSE  TRUE

In [ ]:
subset